@font-face {
    font-family: DefaultFont;
    src: url("/static/font.ttf");
}

*:root {
    --background-color: black;
    --background-color-secondary: #333333;
    --background-color-tertiary:rgb(77, 77, 77);
    --color: white;
    background-color: var(--background-color);
    color: var(--color);
}

body {
    width: 100vw;
    height: 100dvh;
    max-height: 100dvh;
    margin: 0;
    padding: 0;
    font-family: DefaultFont, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
html {
    height: 100dvh;
    max-height: 100dvh;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

#error {
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
#error button {
    width: fit-content;
    align-self: center;
    color: white;
    background-color: var(--background-color-secondary);
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}


/* Notifications */ 
#notification-list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.notification {
    font-size: 1.5em;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-color-tertiary);
    pointer-events: none;
    opacity: 0;
    transform: scaleY(0);
    transition: 0.5s;
}
.notification.showing {
    pointer-events: all;
    opacity: 1;
    transform: scaleY(1);
}

/* TOP */
#top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color-secondary);
    padding: 10px;
    box-sizing: border-box;
}
#title {
    margin: 0;
}

.dropdown-buttons {
    height: 100%;
    align-items: center;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown-buttons-title {
    height: 100%;
}
.dropdown-buttons-list {
    display: flex;
    position: absolute;
    flex-direction: column;
    opacity: 0;
    transform: scaleY(0);
    pointer-events: none;
    transition: 0.2s;
    background-color: var(--background-color-secondary);
    z-index: 5;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
}
.dropdown-buttons-list button, .dropdown-buttons-list a {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 0.5em;
    transition: 0.1s;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    border-radius: 2px;
}
.dropdown-buttons-list button:hover, .dropdown-buttons-list a:hover {
    background-color: var(--background-color-tertiary)
}
.dropdown-buttons:hover .dropdown-buttons-list {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: all;
}

/* MIDDLE */
#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
    background-color: var(--background-color-secondary);
    gap: 5px;
}
#middle > div {
    box-sizing: border-box;
    background-color: black;
    border-radius: 7px;
}
#layout {
    aspect-ratio: calc(9/34);
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url("/static/layout-background.png");
    background-size: cover;
    image-rendering: crisp-edges;
}
#widget-tree {
    flex-grow: 1;
    overflow-y: scroll;

}

#available-widget-list {
    overflow-y: scroll;
    padding: 10px;
    flex-shrink: 0;
}
.available-widget {
    font-size: 1.5em;
}

.centered {
    text-align: center;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.widget-tree-widget-container {
    border: 5px solid var(--background-color-tertiary);
    border-radius: 5px;
    margin: 5px;
}
.widget-tree-name-indicator {
    font-size: 2em;
    flex-grow: 1;
}
.widget-tree-config-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--background-color-tertiary);
    padding: 5px;
    border-radius: 5px;
}
.widget-tree-transform, .widget-tree-config {
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}
.widget-header {
    font-size: 1.5em;
    margin: 5px;
}
.widget-tree-config-item-input {
    background-color: var(--background-color-secondary);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.number-inc-dec-container {
    display: flex;
    flex-direction: column;
}
.number-inc-dec-container button {
    flex-shrink: 1;
    border: none;
    background-color: var(--background-color-secondary);
    border: 2px solid var(--background-color-tertiary);
    margin: 1px;
    color: white;
    border-radius: 2px;
    filter: grayscale();
    font-size: 0.5em;
}

.widget-layout-object {
    background-color: red;
    position: absolute;
    border: 5px solid var(--background-color-tertiary);
    box-sizing: border-box;
}

.widget-tree-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: var(--background-color-tertiary);
}
.widget-tree-header button, .widget-tree-header input {
    background-color: var(--background-color-secondary);
    border-radius: 5px;
    color: white;
    border: none;
}

/* BOTTOM */
#bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color-secondary);
    font-size: 1.5em;
    padding: 5px;
}